@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

body {
  @apply bg-background text-foreground antialiased;
}

.glass-panel {
  @apply bg-black/40 border border-white/10 backdrop-blur-xl rounded-2xl;
}


